.category-slide {
  padding-top: 5%;
  padding-bottom: 5%;
}

.home-subtitle {
  padding-bottom: 1%;
  padding-top: 1%;
  font-size: 40px;
  color: #ffffff;
  width: 100%;
}
.iconsHome:hover {
  transform: scale(1.1);

  filter: drop-shadow(6px 3px 1px #3738436c);
}

.iconRound:hover {
  transform: scale(1.1);

  filter: drop-shadow(6px 3px 1px #3738436c);
}

.iconRound {
  height: 55px;
  line-height: 80px;
  width: 55px;
  border-radius: 50%;
  background-color: #373843;
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
}
