.category-slide {
  padding-top: 3%;
  padding-bottom: 3%;
}

.home-subsubtitle {
  padding-bottom: 0%;
  padding-top: 1%;
  font-size: 15px;
  color: #373843a2;
  width: 100%;
}

.home-subtitle {
  padding-bottom: 0%;
  padding-top: 1%;
  font-size: 40px;
  color: #373843;
  width: 100%;
}

.iconsHome:hover {
  transform: scale(1.1);

  filter: drop-shadow(6px 3px 1px #3738436c);
}

.iconRound:hover {
  transform: scale(1.1);

  filter: drop-shadow(6px 3px 1px #3738436c);
}

.iconRound {
  height: 55px;
  line-height: 80px;
  width: 55px;
  border-radius: 50%;
  background-color: #373843;
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
}

.links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-decoration: none;
  color: #373843;
  font-weight: bold;
}
.links:hover {
  color: #24252c;
}

.homeTopDir{
  background: white !important;
}