.divSignature{
    height: 100%;
    overflow-y: scroll;
}

.pdfViewer {
    padding: 2% !important;
    border-left: 1px solid #007a6e;
}
.overflowProperty{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.labelPages{
    padding: 1%;
}

.buttonPages {
    background-color: #373843;
    outline: none;
    border: none;
    margin-top: auto;
    justify-content: flex-end;
    align-self: flex-end;
    color: white;
    border-radius: 0.9rem;
    padding:4px;
    padding-left: 3%;
    padding-right:3%;
}

.buttonPages:hover {
background-color: #373843d8;
}
.buttonPagesChange {
    background-color: #373843;
    outline: none;
    display: flex;
    border: none;
   
    padding: 0;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    align-self:center;
    color: white;
    width:25px ;
    height:25px;
    border-radius: 50%  ;
}

.buttonPagesChange:hover {
background-color: #373843d8;
}

.divPagesAndButtons{
    padding: 1.2%;
    margin-bottom: 0;
    justify-content: center;
}

.cardTitle{
    padding: 2%;
    font-size: 20px;
}

.foInfo{
   padding: 2% !important;
   background-color: white;
}

.productCardFO{
    padding: 2%;
}

.goBackBtn{
    background-color: #373843;
    color: white;
}

.goBackBtn:hover {
background-color: #373843c4;
}

.aDownload:hover{
    color: grey !important;
}

.iconSwitch{
    align-self: center;
}