.container3 {
  background-color: rgba(255, 255, 255, 0.479);
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  margin-bottom: 2%;
  padding: 0;
  border-radius: 0.9rem;
  width: 90%;
  margin: auto;
}

.parent3 {
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-content: flex-start;
  height: 100%;
  padding: 3%;
  padding-top: 1%;
  overflow-y: scroll;
}

.decription3 {
  background-color: rgba(255, 255, 255, 0.479);

  display: flex;
  flex-direction: column;
  align-self: center;
  vertical-align: middle;
  align-content: center;
  text-align: left;
  margin-bottom: 5%;
  margin-top: 5%;
  border-radius: 0.9rem;
  width: 90%;
  margin: auto;
}

.image3 {
  position: relative;
  max-height: 25%;
  max-width: 13%;
  margin-top: -6%;
  margin-left: 2%;
}

.decription3 h5 {
  margin-bottom: 0;
  padding: 1%;
  color: #373843;
}
.decription3 p {
  margin-bottom: 0;
  padding-left: 1%;
  color: #373843;
}

.top1 {
  max-height: 30% !important;
  border-bottom: 1px solid #40414f;

  background-color: #40414f;
  margin-top: -2%;
  overflow: hidden;
}

.top1 img {
  background-size: cover;
  margin-bottom: -15%;
  max-width: 100%;
  max-height: 100%;
  border-top-right-radius: 0.9rem;
}
.top2 {
  border-bottom: 1px solid #40414f;
  padding: 7%;
  background-color: #ffffff65;
  margin-top: -2%;
}
.bottom1 {
  max-height: 50%;
  padding-left: 2%;
  padding-bottom: 0%;
  color: #373843;
  padding-top: 3%;
}
.bottom1 h6 {
  text-align: left;
}

.flaps {
  width: 9%;
  background-color: #007a6e;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
  margin: 0;
  margin-bottom: -3px;
  border-right: 0.5px solid white;

  padding: 5px;
  border: 1px 1px 1px solid white;
  display: inline;
  color: white;
  text-align: center;
  font-size: calc();
  overflow: hidden;
}

.flaps:hover {
  background-color: #007a6eb4;
}

.flapContainer {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.centering {
  margin-top: 2%;
}

.buttonEditProfile {
  width: fit-content;
  background-color: #373843;

  margin-top: auto;
  border-radius: 0.8rem;
  color: white;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.buttonEditProfile:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.editButtonDiv {
  margin: auto;
  width: 90% !important;
}

@media (max-width: 1300px) {
  .flaps {
    width: fit-content;
  }
}

@media (max-width: 285px) {
  .flaps {
    width: 30%;
  }
}
