.customNavBar {
  background-color: #007a6e !important;
  display: flex;
  justify-content: center;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
}

.title {
  color: white;
  font-size: 15px !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 65%;
  padding: 0;
  margin: auto;
  margin-left: -1.9%;
}

.button {
  margin: 1%;
  width: 30%;
  background-color: #373843;
  border: none;
}

.button:hover {
  border: 1px solid white;
}

.icon {
  padding: 1%;
  margin: 2%;
  vertical-align: bottom;
  margin-right: 3%;
}

.inputField {
  position: relative;
  flex: 1;
  text-indent: 20px;
  color: #40414f;
  margin: 0;
}

.searchIcon {
  position: absolute;
  z-index: 1;
  top: 25%;
  transform: translate(-50%);
  left: 15px;
}
#modalLoginForm {
  width: 90% !important;
}

.custom-modal-style {
  width: 100% !important;
}

.dropdown2 {
  display: flex !important;
  justify-content: center !important;
  width: 10% !important;
  padding: 5px !important;
  margin-right: 2% !important;
}
.dropdown3 {
  background-color: transparent !important;
  border: none;
  border-radius: 0.9rem;
}

#dropdown-menu {
  width: 34px !important;
  background-color: transparent !important;
  border: none;
  border-radius: 0.9rem;
}
#dropdown-menu:focus {
  outline: 0 !important;
  box-shadow: none;
}
#dropdown-menu:active {
  outline: 0 !important;
  box-shadow: none;
}
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
.profileIcon2 {
  position: absolute;
}

.dropdown-item:focus,
.dropdown-item:active {
  outline: none !important;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.568) !important;
}
.dropdown-menu {
  background-color: rgba(255, 255, 255, 0.733) !important;
  border-radius: 0.9rem;
  border: 1px solid #40414f;
  width: 100% !important;
}

#dropdown-menu .dropdown-toggle {
  width: 20px !important;
  justify-content: center !important;
  align-content: center;
}

.show {
  margin-top: 3% !important;
}
.dropdown-toggle {
  color: transparent;
  padding: 0 !important;
}

.dropdown-toggle :active,
.dropdown-toggle:focus,
.dropdown-toggle:hover,
.dropdown-toggle::after {
  color: transparent !important;
}
